prometheus:
  deployment: 'docker|deb'
  rule_files:
    - /etc/prometheus/alert_rules/*
  jobs:
    node:
      port: 9100
      scrape_interval: 30s
      relabel: no
      config:
        static_configs:
          - targets:
            - host1 
    apache:
      port: 9117
      scrape_interval: 30s
      relabel: no
      config:
        static_configs:
          - targets:
            - host2 
    test:
      port: 9118
      scrape_interval: 30s
      relabel: no
      config:
        file_sd_configs:
          - files:
            - '/etc/prometheus/autodiscovery/test/*.json'
  alerts:
    node:
      - alert: node_down
        expr: up == 0
        for: 60s
        labels:
          severity: critical
          type: infra
          service: node
        annotations:
          summary: "{{'{{'}}$labels.instance{{'}}'}} is down"
          description: "{{'{{'}}$labels.instance{{'}}'}} is down"
