{% from "prometheus/prometheus.map" import prometheus with context %}
[Unit]
Description=Alertmanager
Documentation=None
After=network.target

[Service]
LimitNOFILE=16384
Type=simple
NotifyAccess=all
ExecStart={{ prometheus.dir }}/prometheus-{{ prometheus.version }}.linux-amd64/prometheus --config.file={{ prometheus.config_path }}/prometheus.yml --storage.tsdb.path={{ prometheus.data_dir }} --storage.tsdb.retention {{ prometheus.retention }}

[Install]
WantedBy=multi-user.target

